
@model PoolManager.ViewModels.DrillSetsFormViewModel
@{
    ViewBag.Title = "DrillSetsForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=qei92wzpoxqckr378t1teahizszh4waeicrx0nti9z6kgub6"></script>
<script>
    tinymce.init({
        selector:'textarea',
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"

    });
</script>
<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "DrillSets"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Heading)
        @Html.TextBoxFor(m => m.Heading, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Heading)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Drills)
        @for (int i = 0; i < Model.Drills.Count(); i++)
        {
            @Html.EditorFor(m=>Model.Drills[i].Checked)
            @Html.DisplayFor(m=>Model.Drills[i].Name)

            @Html.HiddenFor(m=>Model.Drills[i].Name)
            @Html.HiddenFor(m=>Model.Drills[i].Id)
        }

    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()


    <button type="submit" class="btn btn-primary">Save</button>
}